html, body {
    margin: 0px;
    height: 100%;
/*    display: flex;    */
    justify-content: center;
    font-family: sans-serif;
}

/* color schemes 
    triad with #009900 as base color
    #084D08, #280F99, #009900, #994C04, #4D2404 
    Shades with #009900 as base color
    #005900, #00E600, #009900, #00A600, #008000

*/

.wrapper {
    width: 900px;
    margin: auto;
/*    border-radius: 10px;  */
/*    box-shadow: 0px 0px 15px rgba(0,0,0,0.5); */
}

/* HEADER, NAV MENU AND FOOTER */
header, footer {
    line-height: 100px;
    width: 100%;
    margin: 0px;
    background-color: #006600;
    background: linear-gradient(to bottom right, #006600, green, #009900, #00b300, #ffffff);
    color: white;
    text-align: center;
/*    position: fixed;  */
}

header {
    height: 150px;
    background-image: url(../img/310582_10150298576507232_4175852_n.jpg);
    background-position: center;
    background-size: 10%;
}

header h1 {
    margin: 0px;
    line-height: 100px;
/*    float: left;  */
}
header nav {
    margin: 0px;
    line-height: 50px;
/*    float: right; */
}

header nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header nav ul li {
/*    float: left;    */
    display: inline-block;
}

header nav a {
    text-decoration: none;
    color: white;
    padding:10px;
/*    border-bottom: solid 6px black; 
    transition:  border-bottom 1s ease-in-out, margin-top 1s ease-in-out;   */
}
/*
00A600
*/
header nav a.this-page {
    background-color: #008000;
    color: white
}
header nav a:hover {
    background-color: #00E600;
    color: white;
}

header nav a:active {
    background-color: #005900;
    color: white;
/*    margin-top: 6px;  
    border-bottom: solid 0px white; 
    transition: border-bottom 1s ease-in-out, margin-top 1s ease-in-out;  */
}

footer {
    height: 100px;
}
/* END HEADER, NAV MENU AND FOOTER */


/* #084D08, #280F99, #009900, #994C04, #4D2404 */
/*
.row {
    display: block;
    width: 100%;
    background-color: #994C04;
    text-align: center;
}
*/

.row div {
    /*
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: #084D08;
    */
    /*    height: 100px;    */
}

/* IMAGE GALLERY */
.galleryFrame {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #994C04;
    text-align: center;
}

.galleryRow {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-evenly;
    
    /*background-color: violet;*/
    margin: 10px 0;
   
    /* flex: flex-grow flex-shrink flex-basis */
    /* flex: 1 0px; */    /* all items same size, and 100% width */
}

/* div holding image and caption */
.galleryRow div {
    background-color: #4D2404;
    display: flex;
    flex: 0 30%;
    flex-flow: column nowrap;
    justify-content: center;
}

/* img tag */
.galleryRow div div img {
    /* width: 100%; */
    background-color: tomato;
    /* margin: 10px; */
    width: 100%;
}

/* caption tag */
.galleryRow div div {
    
    flex: 0;
}

/*
.gallery {
    height: 200px;
    background-color: #280F99;
}

.gallery div div {
    margin: 0px;
    width: 100px;
/*    height: 100px;        */
/*    line-height: 100px;   */      /*
    background-color: #009900;
}

.gallery div div img {
    margin: 0px;
    width: 100%;
    height: 100px;        
/*    line-height: 10px;    */      /*
    background-color: #994C04;
}

.gallery a {
    font-size: 0px;
    margin: 0px;
    line-height: 0px;
    height: 0px;
}

.gallery div p {
    margin: 0px;
/*    height: 10px;         */
/*    line-height: 10px;    */      /*
    background-color: #4D2404;
}
*/
/* END IMAGE GALLERY */

/* IMAGE CAROUSEL */
.carousel {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #994C04;
    text-align: center;
}

.carousel > * {
    padding: 10px;
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 1 100%;   /* all items same size, and 100% width */
}

.button:hover {
    background-color: blue;
    cursor: pointer;
}
.button:active {
    background-color: blueviolet;
}

.prevButton {
    background-color: violet;
    margin: auto;
}

.nextButton {
    background-color: tomato;
    margin: auto;
}

.carouselImage {
    background-color: yellow;
    overflow: hidden;
}

.carouselCaption {
    background-color: teal;
}
/* END IMAGE CAROUSEL */

/* MEDIA QUERIES */
/* desktop and tablet*/
@media all and (min-width:800px) {
    .wrapper { width: 90%; }
    .galleryRow { }
    .carouselImage { flex: 10 0px; }
    .prevButton { flex: 1 0px; }
    .nextButton { flex: 1 0px; }
    .prevButton { order: 1; }
    .carouselImage { order: 2; }
    .nextButton { order: 3; }
    .carouselCaption { order: 4; }
}

@media all and (min-width: 600px) {
    .wrapper { width: 90%; }
    .prevButton { flex: 2 0px; }
    .nextButton { flex: 2 0px; }
}
