body {
    width: 90%;
    color: black;
}

.header {
    width: 100%;
    background-color: #FF0000;
    color: white;
}

.map, .location, .distance {
    width: 100%;
    background-color: #000000;
    color: white;
    line-height: 1.5em;
    margin-top: 10px;
}

.map {
    height: 200px;
}
