/* IMAGE CAROUSEL */
.carousel {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    text-align: center;
}

.carousel > * {
    padding: 10px;
    /* flex: flex-grow flex-shrink flex-basis */
    flex: 1 100%;   /* all items same size, and 100% width */
}

.button:hover {
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}
.button:active {
    background-color: #FF0000;
    color: #FFFFFF;
}

.prevButton, .nextButton {
    background-color: #000000;
    line-height: 100px;
    margin: auto;
}

.carouselImage {
    background-color: #FFFFFF;
    overflow: hidden;
}

.carouselCaption {
    background-color: #000000;
}
/* END IMAGE CAROUSEL */

/* MEDIA QUERIES */
/* desktop and tablet*/
@media all and (min-width:800px) {
    .carouselImage { flex: 10 0px; }
    .prevButton { flex: 1 0px; }
    .nextButton { flex: 1 0px; }
    .prevButton { order: 1; }
    .carouselImage { order: 2; }
    .nextButton { order: 3; }
    .carouselCaption { order: 4; }
}

@media all and (min-width: 600px) {
    .prevButton { flex: 2 0px; }
    .nextButton { flex: 2 0px; }
}


.labCarousel {
    position: relative;
    width: 500px;
    height: 250px;
    overflow: hidden; /* needed to hide other images */
    margin: auto;

    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.carousel-images {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 4500px;
    height: 250px;

    /* add magic */
    transition: left .5s ease-in-out;
}

.carousel-images img {
    width: 500px;
    height: 250px;
}

.labCarousel nav {
    position: absolute;
    z-index: 2;
    width: 500px;
    height: 200px;
    line-height: 200px;
}

.labCarousel nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 30pt;
    padding: 0px 25px;
    transition: all .25s ease;
    opacity: 0;
    background-color: rgba(0,0,0,0);
}

.labCarousel nav:hover a {
    transition: all .25s ease;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.15);
}

.labCarousel nav a:first-child {
    float: left;
}

.labCarousel nav a:last-child {
    float: right;
}

.carousel-caption {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.25);
    height: 50px;
    line-height: 50px;
    margin: 0px;
}
