/* IMAGE GALLERY */
.galleryFrame {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: #FF0000;
    text-align: center;
}

.galleryRow {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-evenly;
    
    /*background-color: violet;*/
    margin: 10px 0;
   
    /* flex: flex-grow flex-shrink flex-basis */
    /* flex: 1 0px; */    /* all items same size, and 100% width */
}

/* div holding image and caption */
.galleryRow div {
    background-color: #000000;
    color: white;
    display: flex;
    flex: 0 30%;
    flex-flow: column nowrap;
    justify-content: center;
}

.galleryRow div:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}
.galleryRow div:active {
    background-color: #FF0000;
    color: #FFFFFF;
}

/* img tag */
.galleryRow div div img {
    /* width: 100%; */
    background-color: inherit;
    /* margin: 10px; */
    width: 100%;
}

/* caption tag */
.galleryRow div div {
    background-color: inherit;
    color: inherit;
    font-weight: bold;
    flex: 0;
}
/* END IMAGE GALLERY */