html, body {
    margin: 0.3em;
    height: 100%;
    justify-content: center;
    font-family: 'Roboto', 'PT Sans', 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

/* color schemes
	monochromatic with #FF0000 as base color: #FF4D4D, #CC0000, #800000
	monochromatic with ##FF4D4D as base color: #FF9999, #CC3D3D, #804D4D
*/
/* flex shrink (what if the items are bigger than the container): 0-remain outside container; 1-shrinks to space; 2-item takes half space as item with 1.
	flex grow (what if items are smaller than container): 0-remains size of content; 1-grows to take 1 space; 2-takes up twice space of 1.
	flex basis (size of content box): 
*/

@font-face {
    font-family: 'Batala';
    src: url("../assets/Batala.ttf");
}
.batala {
    font-family: 'Batala';
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.wrapper {
    width: 90%;
    margin: auto;
}

/* HEADER */
header, footer {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.logo {
	order: 1; 
	flex: 0 1 125px; 
	height: auto;
	padding: 10px;
}

.logo img {
	vertical-align: middle;
	max-width: 100px;
	max-height: 100px;
}

header h1 {
	order: 2; 
	flex: 1 1 0; 
	vertical-align: middle;
	margin: 0px;
}

/* NAVIGATION BAR */
nav {
    /* margin: 0px; */
    line-height: 2.8em;
	background-color: red;
	text-align: center;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav ul li {
    flex: 0 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    text-transform: capitalize;
	text-align: center;
    padding: 0.5em;
}

nav a.this-page {
    background-color: #ff0000;
    color: black;
}
nav a:hover {
    background-color: #FF9999;
    color: black;
}

nav a:active {
    background-color: #800000;
    color: white;
}

/* FOOTER */
footer {
    min-height: 100px;
    background-color: red;
}

.footerWrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.footer_fb { order: 1; flex: 1 0; }
.footer_siteInfo { order: 2; flex: 6 0 10%; }
.footer_siteInfo * {line-height: 0.3em;}
.footer_twitter { order: 3; flex: 1 0; }

/* END HEADER, NAV MENU AND FOOTER */

/* CONTENT */
section header {
    line-height: 0.25em;
    width: 99%;
    padding-left: 1%;
	justify-content: left;
    text-align: left;
    background-color: red;
}

section:first-of-type header {
    padding-left: 0%;
	padding-right: 1%;
    background-color: white;
    color: black;
}

h2 {
    font-size: 1.2em;
}

.section1 {
    background-color: rgba(0, 153, 0, 0.1); 
    
    /* #084D08, #280F99, #009900, #994C04, #4D2404  */
}
.section2 {
    background-color: rgba(153, 76, 4, 0.1); 
}
/* END OF CONTENT */


/* MEDIA QUERIES */
/* desktop */
@media screen and (min-width:800px) {
    .wrapper { width: 90%; }
	/*
    .carouselImage { flex: 10 0px; }
    .prevButton { flex: 1 0px; }
    .nextButton { flex: 1 0px; }
    .prevButton { order: 1; }
    .carouselImage { order: 2; }
    .nextButton { order: 3; }
    .carouselCaption { order: 4; }
	*/
}

/* tablet */
@media screen and (max-width: 800px) {
    .wrapper { width: 90%; }
	/*
    .prevButton { flex: 2 0px; }
    .nextButton { flex: 2 0px; }
	
    footer p * { line-height: 50px; height: 50px; }
    footer p .validator img { margin-top: 9.5px; }
    footer p .linkedIn i { line-height: 50px; }
    footer p .validator { flex: 2 0; text-align: right; padding-right: 10px;}
    footer p .linkedIn { flex: 2 0; text-align: left; padding-left: 50px;}
    footer p .siteInfo { flex: 1 100%; }
    footer p .validator { order: 1; }
    footer p .linkedIn { order: 2; }
    footer p .siteInfo { order: 3; }
    .fa-linkedin::before { background-color: white; line-height: 50px; font-size: 2em;}
	*/
}

/* mobile with 2 row navigation */
@media screen and (max-width: 720px) {
    nav ul li { flex: 0 0 50%; }
    /*
	footer p .validator { padding-right: 5px;}
    footer p .linkedIn { padding-left: 20px;}
    .video { width: 100%; }
	*/
}

/* mobile with 4 row navigation */ 
@media screen and (max-width: 530px) {
	header { flex-direction: column; }
    .logo { flex: 0 1 70px; padding-bottom: 0px; }
	.logo img { max-width: 70px; max-height: 70px; }
    .batala { font-size: 36px; }
	nav { line-height: 2em; }
    nav ul { flex-direction: column; }
    /* header nav ul li { flex: 0 0 100%; } */
    nav a { padding: 5px; }
    /* footer p span span { display: block; line-height: 50px; } */
    /*
	footer p .validator { padding-right: 5px;}
    footer p .linkedIn { padding-left: 5px;}
	*/
}

/*
#project p, #project ul {
    display: none; 
    /* visibility: hidden; */
}

#project:hover>p, #project:hover>ul {
    /* cursor: pointer; */
    display: block;
}
*/
